body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D1B2A;
    margin: 0;
    padding: 0;
}
header{
    background-color: #214368;
    color: #E0E1DD;
    text-align: center;
    padding: 20px;
}
nav{
    background-color: #2d6096;
    padding: 10px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #9BA4B5;
    margin: 0 10px;
}
nav a:hover{
    text-decoration: underline;
    color: #FFD700;
}
main{
    display: grid;
    margin: 20px;
    gap: 20px;
}
section{
    display: flex;
}

article{
    background-color: grey;
    padding: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 55px;
    max-width: 800px;
    max-height: 200px;
}
.filme {
    width: 740px;
    text-align: center;
    margin-left: 30%;
    padding: 15px;
}
footer {
    position: flex;
    margin-top: 20px;
    top: 820px;
    left: 0;
    width: 100%;
    color: black;
}
h1 {
    font-size: 40px;
}
.botao {
    display: table;
    background-color: #1B6CA8;
    padding: 10px 15px;
    color:  #E0E1DD;
    text-decoration: none;
    border-radius: 5px;
    transform: translate(-00px, -120px);
    width: 50px;
}
.titulo{
    transform: translate(0px, -150px);
    width: 70px;
}
.imagem {
    transform: translate(-90px, 0px); 
}
a {
    text-decoration: none;
}
.formulario {
   color: #FFD700;
}
.sala {
    width: 340px;
    text-align: center;
    margin-left: 38%;
    padding: 40px;
}
.botaosala {
    margin-top: 65px
}